// cores

$cor-primaria: #F2F2F2;
$cor-sescundaria: #B98B33;
$cor-terciaria: #204357;
$cor-quartenaria: #D9D9D9;


// font

$titulo: 32px;
$sub-titulo: 24px;
$texto-corpo: 16px;
$font: 'Montserrat', sans-serif;

// dropshadow

$shadow: 1px 1px 10px #3b3b3b;;